* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* outline: 1px solid red !important; */
}

.hide {
  display: none;
}
a {
  text-decoration: none;
  color: #0366d6;
}
.center-align-desktop {
  display: flex;
  align-items: center;
}
.nav-items > a {
  text-decoration: none;
  margin-right: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffffb3;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #242a2d;
}
.search-input {
  width: 170px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #949494;
  margin-right: 16px;
  background-color: transparent;
}
.github-logo {
  width: 32px;
  height: 32px;
}
.thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 8px 0 20px;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.profile-image {
  width: 240px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  position: relative;
  bottom: 54px;
}
.input-style {
  width: 80%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  margin-right: 16px;
  background-color: transparent;
}
.repo-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaecef;
  padding: 24px 0;
}
.label {
  height: 20px;
  border: 1px solid #e8e8e8;
  padding: 5px 8px 0 8px;
  border-radius: 6px;
  vertical-align: middle;
  font-size: 12px;
  color: #586069;
  background-color: #fafcfc;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}
.mob-bio {
  display: none;
}
.header-wrapper {
  display: grid;
  grid-template-rows: auto;
}
.hide-on-desktop {
  display: none;
}
.tab-items {
  position: relative;
  top: 32px;
}
.tab-items > a {
  display: inline-block;
  padding: 0 8px 8px 8px;
  margin: 0 12px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
.active-tab {
  font-weight: bold;
  color: #333333;
  border-bottom: 2px solid #f9826c;
  padding-bottom: 8px;
}
.tabs-section {
  height: 80px;
  border-bottom: 1px solid #eaecef;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 4px;
  position: relative;
  left: 200px;
  bottom: 120px;
}

@media only screen and (max-width: 640px) {
  .custom-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 32px;
  }
  .container {
    width: 100%;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .mob-bio {
    display: block;
  }
  .mob-search-input {
    width: 95%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #949494;
    background-color: transparent;
  }
  .mob-nav {
    display: block;
    padding: 20px;
    background-color: #242a2d;
  }
  .mob-nav-items > a {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #949494;
    text-decoration: none;
    color: #ffffffb3;
    font-size: 14px;
  }
  .hide-on-mobile {
    display: none;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: #242a2d;
  }
  .tab-items {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .active-tab {
    border-bottom: 0px solid #000000;
  }
  .active-tab {
    font-weight: bold;
    color: #333333;
    border-bottom: 2px solid #f9826c;
    padding-bottom: 8px;
  }
  .tab-items {
    position: relative;
    top: 20px;
  }
  .aside {
    margin-top: 12px;
  }
  .profile-image {
    width: 64px;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    margin-bottom: 8px;
    position: relative;
    top: 0px;
  }
  .status {
    display: none;
  }
}
